/*Highlight the hyper-link marker when hovering over the "title" of figures.*/
main#main-content figure figcaption:hover a.headerlink {
  opacity: 0.5;
  visibility: visible;
}

/*Justify the book text...*/
main#main-content p {
  text-align: justify;
  text-justify: auto;
}
/*...and the footer*/
div.extra_footer p {
  text-align: justify;
  text-justify: auto;
}

/*Decorate links*/
/* https://christianoliff.com/blog/styling-external-links-with-an-icon-in-css/ */
/*
a[href^="http://"]::after, a[href^="https://"]::after {
  content: "";
  width: 11px;
  height: 11px;
  margin-left: 4px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
*/
/*External links*/
:not(div.navbar_extra_footer) > a[href^="http://"]::after,
:not(div.navbar_extra_footer) > a[href^="https://"]::after {
  font-family: Font Awesome\ 5 Free;
  font-style: normal;
  /* font-weight selects style */
  /* https://fontawesome.com/v5/docs/web/advanced/css-pseudo-elements#reference-individual-icons */
  font-weight: 900;  /* *solid* style */
  content: "\f35d";
  font-size: .75em;
  margin-left: 0.3em;
}
/*Emails*/
a[href^="mailto:"]::after {
  font-family: Font Awesome\ 5 Free;
  font-style: normal;
  font-weight: 400;  /* *regular* style */
  content: "\f0e0";
  font-size: .75em;
  margin-left: 0.3em;
}
/*Glossary terms*/
span.xref.std.std-term::before {  /* a.reference.internal > */
  font-family: Font Awesome\ 5 Free;
  font-style: normal;
  font-weight: 400;  /* *regular* style */
  content: "\f022";  /* \f02d */
  font-size: .75em;
  margin-right: 0.3em;
}
/*Internal references*/
a.reference.internal:not([href^="#"]) > span.std.std-ref::after {
  font-family: Font Awesome\ 5 Free;
  font-style: normal;
  font-weight: 900;  /* *solid* style */
  content: "\f518";
  font-size: .75em;
  margin-left: 0.3em;
}
/*Within-page references*/
a.reference.internal[href^="#"] > span.std.std-ref::after {
  font-family: Font Awesome\ 5 Free;
  font-style: normal;
  font-weight: 900;  /* *solid* style */
  content: "\f1b8";
  font-size: .75em;
  margin-left: 0.3em;
}

/*Better scale text in tables placed in admonitions*/
main#main-content div.admonition table {
  width: revert;
}

/*Custom table style*/
table.centre-table {
  width: revert;
  margin-left: auto;
  margin-right: auto;
}

/*Left-align shields below the table-of-content column*/
#site-navigation div.navbar_extra_footer {
  text-align: left;
}
